<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,500;0,600;0,800;0,900;1,100;1,400;1,500;1,600;1,800;1,900&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="../css/global.css">
  <link rel="stylesheet" href="../css/cliente/comanda.css">

  <title>Comanda - Foodry</title>
</head>

<body>

  <div class="container">

    <div class="row d-flex justify-content-center">
      <div class="d-flex flex-column content col col-sm-12 col-md-4">

        <div class="p-3 contentAdd">

          <div class="mt-2 d-flex text-danger">
            <h1 class="ms-1 text-danger mt-5">
              Comanda
            </h1>
            <a class="m-auto">
              <h2 class="text-danger fw-bold ms-3">foodry</h2>
            </a>
            <div class="smile">
              <img class="img-fluid" src="../assets/images/smile.svg" alt="">
            </div>
          </div>


          <% if(infoPedido.length != 0) { %>
          <div class="mt-2 p-3 d-flex">
            <h3 class="text-success fw-bold">Preparando seu(s) Pedido(s)</h3>
          </div>

          <h2 class="my-4">Número do<small class="fs-3">(s)</small> pedido<small class="fs-3">(s)</small></h2>
          <div class="table-responsive">
            <table class="table caption-top ">
              <thead>
                <tr>
                  <!-- <th scope="col">-</th> -->
                  <% for (var p of infoPedido) { %>
                  <td onclick="GerarConteudo('<%=p.numeroPedido%>')" scope="col"
                    class="btn border border-success border-rounded mx-2 my-2 fs-3">#<%=p.numeroPedido%>
                  </td>
                  <% }  %>
                </tr>
              </thead>
              <!-- <tbody>
                  <tr>
                    <th scope="col" class="">T.E <div>(MIN)</div>
                    </th>
                    <% for (var p of infoPedido) { %>
                    <td scope="col" class="fs-4"><%=p.tempoEstimado%></td>
                    <%  } %>
                  </tr>
                </tbody> -->
            </table>
          </div>



          <% for (var p of infoPedido) { %>
          <div class="mt-5 hidden" id="<%=p.numeroPedido%>">
            <h3>
              Pedido: <%=p.numeroPedido %>
            </h3>
            <div class="row mt-4">
              <div class="col-6">
                <h4 class="fw-bolder">Nome</h4>
              </div>
              <div class="col">
                <h4 class="fw-bolder">Quantidade</h4>
              </div>
              <div class="col-2">
                <h4 class="fw-bolder">Preço</h4>
              </div>
            </div>

            <hr class="my-1 p-0">
            <% for (var pp of p.produtos) { %>
            <div class="row">
              <div class="col-6">
                <h4><%= produto.find((c) => c._id == `${pp.id}`).nome %></h4>
              </div>
              <div class="col">
                <h4><%= pp.quantidade %></h4>
              </div>
              <div class="col-2">
                <h4><%= produto.find((c) => c._id == `${pp.id}`).preco %></h4>
              </div>
            </div>

            <hr class="my-1 p-0">
            <% } %>
            <div class="mt-5 d-flex flex-column">
              <div class="d-flex">
                <a href="/cancelarPedido/<%=info._id%>/<%=p._id%>"
                  class="mb-2 btn button m-auto border-danger text-danger btn fs-5">Cancelar Pedido</a>
                <a href="/atualizarPedido/<%=info._id%>/<%=p._id%>"
                  class="mb-2 btn button m-auto border-success text-success btn fs-5">Atualizar Pedido</a>
              </div>
              <p class="fs-5">Você só pode atualizar o pedido, ou cancelar, até 5 minutos após ter efetuado
                o pedido
              </p>
            </div>
          </div>


          <% } %>


          <div class="justify-content-between mt-3 d-flex">
            <span class="fs-4">Valor total</span>
            <span class="fw-bolder fs-4">
              R$ <%= valorTotal %>
            </span>
          </div>

          <div class="mt-5 d-flex flex-column text-center">

            <a href="/nota-fiscal"><button class="button p-3 fs-5 btn btn-success">Finalizar Pedidos</button></a>
          </div>
          <% } else { %>

          <h4 class="my-5">Você não pediu nada até o momento</h4>

          <% } %>

        </div>
      </div>
    </div>
  </div>

  <footer class="justify-content-center d-flex fixed-bottom">
    <div class="d-flex w-25 justify-content-around">

      <a class="" href="/menu-cliente/<%=info._id%>">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img"
          width="3em" height="3em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 12 12">
          <g fill="none">
            <path
              d="M6.307 1.105a.5.5 0 0 0-.614 0l-4.114 3.2A1.5 1.5 0 0 0 1 5.49V10a1 1 0 0 0 1 1h2a1 1 0 0 0 1-1V7h2v3a1 1 0 0 0 1 1h2a1 1 0 0 0 1-1V5.49a1.5 1.5 0 0 0-.58-1.185l-4.113-3.2z"
              fill="black" />
          </g>
        </svg>
      </a>

      <a class="" href="">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img"
          width="3em" height="3em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 48 48">
          <g fill="none" stroke="black" stroke-width="4" stroke-linejoin="round">
            <rect x="9" y="8" width="30" height="36" rx="2" />
            <path d="M18 4v6" stroke-linecap="round" />
            <path d="M30 4v6" stroke-linecap="round" />
            <path d="M16 19h16" stroke-linecap="round" />
            <path d="M16 27h12" stroke-linecap="round" />
            <path d="M16 35h8" stroke-linecap="round" />
          </g>
        </svg>
      </a>

      <a class="" href="/perfil-cliente/<%= info._id %>">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img"
          width="3em" height="3em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24">
          <path
            d="M7.5 6.5C7.5 8.981 9.519 11 12 11s4.5-2.019 4.5-4.5S14.481 2 12 2S7.5 4.019 7.5 6.5zM20 21h1v-1c0-3.859-3.141-7-7-7h-4c-3.86 0-7 3.141-7 7v1h17z"
            fill="black" />
        </svg>
      </a>
    </div>
  </footer>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous">
  </script>
  <script src="https://code.iconify.design/2/2.0.3/iconify.min.js"></script>
  <script src="../scripts/pedido.js"></script>

</body>

</html>